.autora {
  min-height: 100vh;
  background: #E7E5E7;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.titulo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-weight: 600;
}


.perfil {
  display: flex;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 25px;
}

.foto-perfil {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #333;
}

.datos p {
  margin: 6px 0;
}

.galeria {
  margin: 25px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.galeria img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 1px solid #ccc;
}
