h1 {
  margin-bottom: 20px;
}

.perfil {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 40px;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #333;
}


.datos p {
  margin: 6px 0;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.galeria img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 1px solid #ccc;
}
