.dinamica {
  min-height: 100vh;
  background: #E7E5E7;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  align-items: center;
}

.dinamica h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.intro {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  text-align: center;
  max-width: 900px;
  margin-bottom: 40px;
}


.tarjeta {
  background: #ded6e6;
  border-radius: 20px;
  padding: 40px;
  max-width: 900px;
}

.contador {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  color: #444;
}

.negativa {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.opciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.opciones button {
  background: #d9cadb;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;

  font-family: 'Julius Sans One', sans-serif;
  font-size: 14px;
}

.opciones button.seleccionada {
  background: #ccaff3;
}

.validar {
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  font-family: 'Julius Sans One', sans-serif;
  font-size: 14px;

  background: #79afc6;
}

.validar:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.resultado {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}

.positiva {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.final {
  max-width: 900px;
  margin-top: 40px;
  font-family: 'Julius Sans One', sans-serif;
}

.final h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.mensaje-final {
  margin-top: 20px;
  font-size: 16px;
}
