.actividad2 {
  min-height: 100vh;
  background: #E7E5E7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.titulo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 100;
}
