<div class="pareto-wrapper">
  <div class="background-shapes"></div>

  <div class="pareto-card">
    <h2 class="title">Diagrama de Pareto</h2>

    <div *ngIf="items.length === 0" class="empty">
      No hay datos suficientes.
    </div>

    <div *ngFor="let item of items" class="bar-container">
      <div class="bar-label">
        {{item.name}} ({{item.impact}})
      </div>

      <div class="bar-bg">
        <div
          class="bar-fill"
          [style.width.%]="item.percentage">
        </div>
      </div>

      <div class="percentage">
        {{item.percentage | number:'1.0-1'}}%
      </div>
    </div>

  </div>
</div>
