<div class="hero">
  <div class="overlay"></div>

  <div class="contenido">
    <h1 class="titulo">Nicole Guzmán Peña</h1>
    <h2 class="subtitulo">Portafolio proyectos Tópico 2</h2>
    <p class="descripcion">
      Estudiante de ingeniería de software en la Universidad Autónoma de Querétaro.
    </p>

    <div class="botones">
      <button class="btn play" routerLink="/home">
        <mat-icon>play_arrow</mat-icon>
        Reproducir
      </button>

      <button class="btn info" routerLink="/autora">
        <mat-icon>info</mat-icon>
        Más información
      </button>
    </div>
    
  </div>
</div>
