.home {
  min-height: 100vh;
  background: #E7E5E7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.logo {
  display: block;
  margin: top 10px;
  width: 190px;
  height: auto;
  margin-bottom: 30px;
}

.titulo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 90;
  color: #8e0057;
}

.contenedor-tema {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
  margin-left: 30px;
  flex-wrap: wrap;
}
