.row {
  margin-top: 40px;
  padding-left: 40px;
}

.row-titulo {
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}

.carrusel {
  position: relative;
  display: flex;
  align-items: center;
}

.contenedor {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 12px;
  scrollbar-width: none;
}

.contenedor::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 200px;
  height: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card:hover {
  transform: scale(1.1);
}

.flecha {
position: absolute;
top: 0;
bottom: 0;
width: 60px;
background: rgba(0, 0, 0, 0.4);
color: white;
border: none;
font-size: 30px;
cursor: pointer;

opacity: 0; /* invisible */
transition: opacity 0.3s ease;
z-index: 2;
}

.izquierda { left: 0; }
.derecha { right: 0; }

.row:hover .flecha {
opacity: 1;
}
