<div class="diagram-wrapper">
  <h2>Diagrama Ishikawa</h2>

  <!-- Problema central -->
  <div class="problem">{{data.problem}}</div>

  <!-- Causas principales -->
  <ul class="cause-list">
    <ng-container *ngFor="let cause of data.causes; let i = index">
      <li class="root-cause">
        <div class="cause">{{cause.name}} (Impacto: {{cause.impact}})</div>

        <!-- Subcausas -->
        <ul *ngIf="cause.subCauses?.length" class="subcause-list">
          <ng-container *ngFor="let sub of cause.subCauses">
            <li>
              <div class="subcause">{{sub.name}} (Impacto: {{sub.impact}})</div>

              <!-- Sub-subcausas -->
              <ul *ngIf="sub.subCauses?.length" class="subsubcause-list">
                <ng-container *ngFor="let subsub of sub.subCauses">
                  <li>
                    <div class="subsubcause">{{subsub.name}} (Impacto: {{subsub.impact}})</div>
                  </li>
                </ng-container>
              </ul>

            </li>
          </ng-container>
        </ul>

      </li>
    </ng-container>
  </ul>
</div>
