.tema {
  width: 300px;
  height: 260px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

a {
  text-decoration: none;
}

.tema.rosa {
  background: #e691be;
}

.tema.morado {
  background: #9995df;
}

.tema.amarillo {
  background: #D9CE9F;
}

.tema.verde {
  background: #9FD9B2;
}

.titulo {
  font-family: 'Hubballi', sans-serif;
  font-size: 45px;
  margin-bottom: 5px;
  font-weight: 500;
}

.mas {
  font-family: 'Hubballi', sans-serif;
  margin-top: 1px;
  font-size: 25px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 5%;
}


