.boton {
  width: 300px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Hubballi', sans-serif;
  font-size: 40px;

  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
}

.boton.morado {
  background: #A29FD9;
}

.boton.amarillo {
  background: #D9CE9F;
}

.boton.verde {
  background: #9FD9B2;
}

