.proyecto1 {
  min-height: 100vh;
  background: #E7E5E7;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
}

.titulo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 80px;
  font-weight: 90;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
