.btn {
  background: #ff4fa3;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.btn svg {
  width: 22px;
  height: 22px;
  color: white;
}

.btn:hover {
  transform: scale(1.1);
  background: #ff2f8a;
}
